<section>
    <h2 class="text-center">Bem vindo ao Sistema de Gerenciamento de Estúdio de Música</h2>


    <div class="container my-5">
    <div class="row g-4">
        <!-- Card Artistas -->
        <div class="col-md-4">
            <a href="/artistas" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h5 class="card-title">Artistas</h5>
                        <p class="card-text">Veja os artistas e adicione novos artistas</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Card Gravações -->
        <div class="col-md-4">
            <a href="/gravacoes" class="text-decoration-none">
                <div class="card text-center h-100">
                    <div class="card-body">
                        <h5 class="card-title">Gravações</h5>
                        <p class="card-text">Veja as gravações e adicione novas gravações.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</section>