<section class="container">
    <h1 class="text-center">Cadastro de Artistas</h1>
    <form action="/artistas/store" method="post">
        {{!-- Campo 1: Nome --}}
        <section class="mb-2">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control">
        </section>

        {{!-- Campo 2: descrição e preço --}}
        <section class="row mb-2">
            <div class="col-md-4">
                <label for="idade">Descrição</label>
                <input type="text" name="descricao" id="descricao" class="form-control">
            </div>

            <div class="col-md-4">
                <label for="data_inicio">Preço</label>
                <input type="text" name="preco" id="preco" class="form-control">
            </div>
         {{!-- Campo 3: genero--}}
               <div class="col-md-4">
                <label for="genero">Gênero</label>
                <input type="text" name="genero" id="genero" class="form-control">
            </div>
        </section>
        {{!-- Campo 4: Botao de envio --}}
        <section class="mb-2">
            <button class="btn btn-dark" type="submit">Cadastrar</button>
        </section>


    </form>
</section>